@import './../../node_modules/bootstrap/scss/bootstrap-grid';
@import "./sections/services";
@import "./components/header";
body{
    background-color: #2d2d2d;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
